.product-container {
  align-items: center;
  border-top: 1px solid #94979d;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 25px;
  width: 85%;
}

.product-container img {
  height: 100px;
  margin: auto;
  width: 100px;
}

.product-delete {
  align-items: center;
  font-size: 40px;
  justify-content: center;
  margin: auto;
}

.product-name {
  align-items: center;
  margin: auto;
  text-align: center;
  width: 100%;

}

.price-product {
  align-items: center;
  font-size: 15px;
  text-align: center;
  width: 15%;
}
