.message-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 500px;
  justify-content: center;
}

.main-title {
  color: rgb(49, 194, 141);
}

.message-empty-list {
  color: rgb(148, 151, 157);
}
